/**
 * Set some defaults
 */
.chromatic-dungeons .window-content {
  backdrop-filter: blur(3px) contrast(1.25);

  @media (prefers-color-scheme: dark) {
    background: var(--bg-color);
  }
  font-family: var(--sheet-body-font);
  color: var(--body-color);

  h1, h2, h3 {
    font-family:  var(--sheet-heading-font);
    color: var(--heading-color);
    margin-bottom: .5em;
    line-height: 1em;

    @media (prefers-color-scheme: dark) {
      border: none;
      font-weight: 600;
    }
  }

  h3 {
    border-bottom: none;
  }

  h4, h5, h6 {
    font-family: var(--sheet-body-font);
    color: var(--body-color);
    font-weight: 600;
    margin-bottom: .25em;
    line-height: 1em;
  }

  input {
    &:read-only {
      border: none;
      background: none;
      &[type]:focus {
        box-shadow: none;
      }
    }
  }

  select {
    width: calc(100% - 2px);
    min-width: 20px;
    height: 26px;
    background: rgba(0, 0, 0, 0.05);
    padding: 1px 3px;
    margin: 0;
    border-radius: 3px;
    user-select: text;
  }

  input, select {
    color: inherit;
  }

  input:not([type="checkbox"]), select {
    &:disabled {
      border: none;
      background: none;
      appearance: none;
    }
  }

  button {
    padding: 0;
    margin: 0;
    min-width: 0;
    width: auto;
    background: transparent;
    border: none;
    color: var(--body-color);
  }

  p {
    margin-top: 0;
    margin-bottom: 1em;
  }

  p, dd {
    line-height: 1.4;
  }
}

/**
 * Action Headers
 */

.chromatic-dungeons .action-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;

  button {
    line-height: 1em;
  }
}

/**
 * Grid Lists
 */
.chomatic-dungeons li.grid-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-gap: .25em;
  align-items: center;
  margin-bottom: .5em;

  &:last-of-type {
    margin-bottom: 0;
  }
}

/**
 * Search Filters
 */
.search-filter {
  display: grid;
  grid-template-columns: 1.5em 1fr;
  align-items: center;
  justify-content: space-between;
}

/**
 * Utility classes
 */
.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.rollable {
  transition: 333ms ease-in-out color;

  &:hover {
    cursor: pointer;
    color: var(--heading-color);
  }

  &:not(.rollable--no-icon)::before {
    /* Taken from FontAwesome's .fa class */
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    color: var(--heading-color);
    content: "\f6cf";
  }
}

label[title] {
  border-bottom: 1px dotted var(--heading-color);
}

.sheet-body {
  min-height: 300px;
}

/**
 * Modal fields
 */

.roll-modifiers-field {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin-bottom: .5em;
  align-items: center;
}

/**
 * Tabs
 */
.sheet nav.sheet-tabs {
  border: 0;
  margin-bottom: .5em;

  .item {
    padding: .25em .5em;
    &.active {
      border-bottom: 2px solid var(--color-underline-header)
    }
  }
}

.tab {
  &.description {
    margin: 0;
  }
}

.tag-list {
  @media (prefers-color-scheme: dark) {
    --tag-bg: rgba(var(--highlight-color-base), .5);
    --tag-hover: var(--highlight-bg-color);
    border: 1px solid rgba(255, 255, 255, .2);
  }

  @media (prefers-color-scheme: light) {
    --tag-bg: var(--highlight-bg-color);
    --tag-hover: rgba(var(--highlight-color-base), .5);
    border: 1px solid rgba(0, 0, 0, .4);
  }

  --tag-text-color: var(--body-color);
  --tag-text-color--edit: var(--body-color);
  
  --tag-remove-bg: transparent;
  --tag-remove-btn-bg--hover: rgba(var(--highlight-color-base), .5);

  width: 100%;

  &.tagify--hasMaxTags {
    cursor: default;

    .tagify__input {
      display: none;
    }
  }
}