@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@300&family=Roboto&display=swap');

body {
  --sheet-bg-color: #fff;
  --sheet-body-color: #444;
  --sheet-heading-color: #DB1C1C;

  --sheet-heading-font: 'Crimson Pro', serif;
  --sheet-body-font: 'Roboto', sans-serif;

  --elevation-1-shadow:  0px 1px 2px 1px rgba(0, 0, 0, 0.3);
  --elevation-05-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.15);
}