.effects-list {
  @extends %panel;

  .effects-list__list-item {
    @extends %panel-grid;
  }

  &__list-item {
    grid-template-columns: 32px 5fr 2fr 2fr 2fr;
    
    &--header {
      font-weight: 600;
  
      .effects-list__name {
        grid-column: 2;
      }
    } 

    &--empty {
      color: var(--empty-color);
      font-style: italic;
  
      span {
        grid-column: 2/4
      }
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}