.effects-list {
  .effects-list__list-item {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
    grid-column-gap: .5em;
    margin-bottom: .5em;
    align-items: center;
    padding: .5rem;
   
    &:not(.effects-list__list-item--header) {
      box-shadow: var(--elevation-1-shadow);
    }

    img {
      background: url(../ui/parchment.jpg) repeat
    }

    .effects-list__controls {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .effects-list__list-item--empty {
    color: #666;
    font-style: italic;

    span {
      grid-column: 2/4
    }
  }

  .effects-list__list-item--header {
    font-weight: 600;

    .effects-list__name {
      grid-column: 2;
    }
  } 
}