.effects-list {
  &__list-item {
    display: grid;
    grid-template-columns: 1fr 5fr 2fr 2fr 2fr;
    grid-column-gap: .5em;
    margin-bottom: .5em;
    align-items: center;
    padding: .5rem;
   
    &--header {
      font-weight: 600;
  
      .effects-list__name {
        grid-column: 2;
      }
    } 

    &:not(&--header) {
      box-shadow: var(--elevation-1-shadow);
    }

    &--empty {
      color: #666;
      font-style: italic;
  
      span {
        grid-column: 2/4
      }
    }
  }

  &__controls {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}