<form
  class="{{cssClass}}"
  autocomplete="off"
  id="actor-{{actor.id}}"
>
  {{#if accentColor}}
    <style>
      .actor {
        --sheet-heading-color: {{accentColor}}
      }
    </style>
  {{/if}}
  
  {{!-- Sheet Header --}}
  {{> (partial "actor/parts/pc-header.hbs")}}

  <main class="sheet-body">
    <div class="attributes">
      {{> (partial "actor/parts/actor-attribute.hbs") }}
    </div>

    <div class="tab-group">
      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="items">Items</a>
        {{#if actor.system.spellcasting}}
          <a class="item" data-tab="spells">Spells</a>
        {{/if}}
        <a class="item" data-tab="effects">Effects</a>
        <a class="item" data-tab="features">Features</a>
        <a class="item" data-tab="description">Description</a>
        {{#if showDerivedStatsTab}}
          <a class="item" data-tab="derived-stats">
            <i class="fa fa-book">
              <span class="sr-only">
                Derived Statistics
              </span>
            </i>
          </a>
        {{/if}}
      </nav>

      <div class="tab-group__container">
        <div class="tab sheet-tab sheet-tab--summary" data-group="primary" data-tab="summary">
          {{> (partial "actor/parts/pc-summary.hbs") }}
        </div>

        {{!-- Owned Features Tab --}}
        <div class="tab sheet-tab sheet-tab--features" data-group="primary" data-tab="features">
          {{> (partial "actor/parts/actor-features.hbs") }}
        </div>

        {{!-- Biography Tab --}}
        <div class="tab sheet-tab sheet-tab--biography" data-group="primary" data-tab="description">
          {{> (partial "actor/parts/actor-biography.hbs") }}
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab sheet-tab sheet-tab--items" data-group="primary" data-tab="items">
           {{> (partial "actor/parts/actor-items.hbs") }}
        </div>

        {{#if actor.system.spellcasting}}
          {{!-- Owned Spells Tab --}}
          <div class="tab sheet-tab sheet-tab--spells" data-group="primary" data-tab="spells">
            {{> (partial "actor/parts/actor-spells.hbs") }}
          </div>
        {{/if}}

        {{!-- Active Effects Tab --}}
        <div class="tab sheet-tab sheet-tab--effects flexcol" data-group="primary" data-tab="effects">
          {{> (partial "actor/parts/actor-effects.hbs") }}
        </div>

        {{#if showDerivedStatsTab}}
          {{!-- Derived Stats Tab --}}
          <div class="tab sheet-tab sheet-tab--derived-stats"  data-group="primary" data-tab="derived-stats">
            {{> (partial "actor/parts/actor-derived-stats.hbs") }}
          </div>
        {{/if}}
      </div>
    </div>
  </main>

  <footer class="sheet-footer">
    
  </footer>
</form>