<form class="{{cssClass}} sheet--npc {{actor.type}}" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header npc-header">
    <div class="sheet-header__container">
      <input
        class="name"
        name="name"
        type="text"
        value="{{actor.name}}"
        placeholder="Name"/>
        
      <select name="data.type" data-dtype="string">
        {{#select data.type}}
          {{#each monsterTypes as |name key|}}
            <option value="{{key}}">{{name}}</option>
          {{/each}}
        {{/select}}
      </select>
      
      <div class="hp">
        <label 
          for="data.hp.value"
          class="hp__label">
          <i class="fa fa-heart">
            <span class="sr-only">
              {{localize "SHEET.hp"}}
            </span>
          </i>
        </label>
        
        <input
          type="number"
          name="data.hp.value"
          value="{{data.hp.value}}"
          max="{{data.hp.max}}"
          data-dtype="Number"/>
        <span>/</span>
        <input
          type="number"
          name="data.hp.max"
          min="{{data.hp.value}}"
          value="{{data.hp.max}}"
          data-dtype="Number" />
      </div>

      <div class="ac">
        <label 
          for="ac"
          class="ac__label">
          <i class="fa fa-shield-alt">
            <span class="sr-only">
              {{localize "SHEET.ac"}}
            </span>
          </i>
        </label>
        <input
          type="number"
          name="ac"
          value="{{data.ac}}"
          readonly
          data-dtype="Number"/>
      </div>
    </div>
  </header>

  

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <div class="attributes">
      {{> (partial "actor/parts/actor-attribute.hbs") }}
    </div>

    <div class="tab-group">
      {{!-- Sheet Tab Navigation --}}
      <nav class="sheet-tabs tabs" data-group="primary">
        {{!-- Default tab is specified in actor-sheet.mjs --}}
        <a class="item" data-tab="summary">Summary</a>
        <a class="item" data-tab="description">Description</a>
        <a class="item" data-tab="items">Items</a>
        <a class="item" data-tab="effects">Effects</a>
      </nav>

      <div class="tab-group__container">
        <div class="tab sheet-tab sheet-tab--summary" data-group="primary" data-tab="summary">
          <div class="stat-region stat-region--attacks">
            <h2 class="action-header">
              <span>Attacks</span>
              <button type="button"  data-action="add-npc-attack">
                <i class="fa fa-plus">
                  <span class="sr-only">Add a new attack</span>
                </i>
              </button>
            </h3>
            <ul class="attack-list">
                <li class="attack attack--header">
                  <span>Name</span>
                  <span>Damage</span>
                  <span class="attack__attack-mod">Mod</span>
                  <span>Type</span>
                  <span></span>
                </li>
              {{#each data.attacks as |attack key|}}
                <li class="attack" data-index="{{key}}">
                  <input
                    type="text"
                    data-dtype="String"
                    name="data.attacks.{{key}}.attack"
                    value="{{attack.attack}}">
                  <span class="attack__damage">
                    <input
                      type="text"
                      data-dtype="String"
                      name="data.attacks.{{key}}.damage"
                      value="{{attack.damage}}">
                  {{
                    signedString (
                      lookup ../data.damageMods (
                        default attack.attackType "melee"
                      )
                    )
                  }}</span>
                  <span class="attack__attack-mod">{{
                    signedString (
                      lookup ../data.toHitMods (
                        default attackType "melee"
                      )
                    )
                  }}</span>
                  <select name="data.attacks.{{key}}.weaponType" data-dtype="string">
                    {{#select attack.weaponType}}
                      {{#each ../weaponTypes as |name key|}}
                        <option value="{{key}}">{{name}}</option>
                      {{/each}}
                    {{/select}}
                  </select>
                  <button
                    class="rollable"
                    data-label="Attack {{@index}}: {{attack.attack}}"
                    data-roll-type="natural-attack"
                    data-damage="{{attack.damage}}">
                    <span class="sr-only">Roll</span>
                  </button>
                </li>
              {{/each}}
            </ul>
            
            <div class="attacks__field attacks__field--special-attacks">
              <label for="data.specialAttacks">Special Attacks</label>
              <input
                name="data.specialAttacks"
                value="{{data.specialAttacks}}"
                type="text"
                data-dtype="String" />
            </div>
          </div>

          <div class="stat-region stat-region--saves">
            <h2>{{localize 'SHEET.saves'}}</h2>
            <ul class="saves-list">
              <li class="saves-list__item saves-list__item--header">
                <div class="saves-list__name"></div>
                <div class="saves-list__score">
                  {{localize 'SHEET.listheadings.saves.value'}}
                </div>
                <div class="saves-list__modifier">
                  {{localize 'SHEET.listheadings.saves.modifier'}}
                </div>
              </li>
              {{#each saves as |save key|}}
                <li class="saves-list__item">
                  <div
                    class="saves-list__name rollable"
                    data-label="{{localize (concat 'SHEET.save.' key)}}"
                    data-roll-type="Save"
                    data-roll="1d20{{signedString (lookup ../saveMods key)}}">
                    {{localize (concat 'SHEET.save.' key)}}
                  </div>
                  <div class="saves-list__score">{{save}}</div>
                  <div class="saves-list__modifier">
                    <input type="text" readonly value="{{signedString (lookup ../saveMods key)}}" />
                  </div>
                </li>
              {{/each}}
              <li class="saves-list__item">
                <div
                  class="saves-list__name rollable"
                  data-label="Morale"
                  data-roll-type="Morale"
                  data-roll="1d20">
                  Morale
                </div>
                <div class="saves-list__score">{{data.morale}}</div>
              </li>
            </ul>
            {{#if (ne (derivedStat 'wis' data.attributes.wis 'modMentalSave') 0)}}
              <p>Reminder: you have a {{signedString (derivedStat 'wis' data.attributes.wis 'modMentalSave')}} to mental saves.</p>
            {{/if}}
          </div>

          <div class="stat-region stat-region--defenses">
            <h2>Defenses</h2>

            <div class="configuration__field configuration__field--specialDefenses">
              <label for="data.specialDefenses">Special Defenses</label>
              <input
                name="data.specialDefenses"
                value="{{data.specialDefenses}}"
                type="text"
                data-dtype="String" />
            </div>

            <div class="configuration__field configuration__field--magic-resistance">
              <label for="data.magicResistance">Magic Resistance</label>
              <input
                name="data.magicResistance"
                value="{{data.magicResistance}}"
                type="text"
                data-dtype="String" />
            </div>

            <div class="configuration__field configuration__field--move">
              <label for="data.move">Movement</label>
              <input
                name="data.move"
                value="{{data.move}}"
                type="text"
                data-dtype="String" />
            </div>
          </div>

          <div class="stat-region stat-region--hp">
            <h2>HP</h2>

            <div class="configuration__field configuration__field--hit-dice">
              <label for="data.hitDice">Hit Dice</label>
              <input
                name="data.hitDice"
                value="{{data.hitDice}}"
                type="text"
                data-dtype="String" />
            </div>

            <div class="configuration__field configuration__field--hit-dice-bonus">
              <label for="data.hitDiceBonus">HP Bonus</label>
              <input
                name="data.hitDiceBonus"
                value="{{data.hitDiceBonus}}"
                type="text"
                data-dtype="String" />
            </div>
          </div>
          
          <div class="stat-region stat-region--xp">
            {{#unless data.canAutocalculateXP}}
              <h2>XP</h2>
            {{else}}
              <h2>
                <span>XP</span>
                <span>{{data.calculatedXP}}</span>  
              </h2>
            {{/unless}}

            <div class="configuration__field configuration__field--can-autocalculate-xp">
              <label for="data.canAutocalculateXP">Auto-Calculate</label>
              <input
                name="data.canAutocalculateXP"
                type="checkbox"
                {{checked data.canAutocalculateXP}} />
            </div>

            {{#unless data.canAutocalculateXP}}
              <div class="configuration__field configuration__field--xp">
                <label for="data.xp">XP</label>
                <input
                  name="data.xp"
                  value="{{data.xp}}"
                  type="text"
                  data-dtype="String" />
              </div>
            {{else}}
              <div class="configuration__field configuration__field--has-special-ability">
                <label for="data.hasSpecialAbility">Has Special Ability?</label>
                <input
                  name="data.hasSpecialAbility"
                  type="checkbox"
                  {{checked data.hasSpecialAbility}} />
              </div>

              <div class="configuration__field configuration__field--is-exceptional">
                <label for="data.isExceptional">Is Exceptional?</label>
                <input
                  name="data.isExceptional"
                  type="checkbox"
                  {{checked data.isExceptional}} />
              </div>
            {{/unless}}
          </div>

          <div class="stat-region stat-region--configuration">
            <h2>Configuration</h2>
            <div class="configuration__field configuration__field--size">
              <label for="data.size">Size</label>
              <select name="data.size" data-dtype="String">
                {{#select data.size}}
                  {{#each sizes as |size key|}}
                    <option value="{{key}}">{{size}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>

            <div class="configuration__field configuration__field--alignment">
              <label for="data.alignment">Alignment</label>
              <input
                name="data.alignment"
                value="{{data.alignment}}"
                type="text"
                data-dtype="String" />
            </div>

            <div class="configuration__field configuration__field--number-appearing">
              <label for="data.numberAppearing">Number Appearing</label>
              <input
                name="data.numberAppearing"
                value="{{data.numberAppearing}}"
                type="text"
                data-dtype="String" />
            </div>

            <div class="configuration__field configuration__field--perception-mod">
              <label for="data.perceptionMod">Perception Mod</label>
              <input
                name="data.perceptionMod"
                value="{{data.perceptionMod}}"
                type="text"
                data-dtype="String" />
            </div>
          </div>
        </div>

        <div class="tab sheet-tab sheet-tab--description" data-group="primary" data-tab="description">
          <div class="description">
            <h2>Description</h2>
            {{ editor
              content=data.description
              target="data.description"
              rollData=rollData
              button=true
              owner=owner
              editable=editable
            }}
          </div>
        </div>

        {{!-- Owned Items Tab --}}
        <div class="tab sheet-tab sheet-tab--items" data-group="primary" data-tab="items">
          {{> (partial "actor/parts/actor-items.hbs") }}
        </div>

        {{!-- Active Effects Tab --}}
        <div class="tab sheet-tab sheet-tab--effects" data-group="primary" data-tab="effects">
          {{> (partial "actor/parts/actor-effects.hbs") }}
        </div>
      </div>
    </div>
  </main>
</form>

