<div class="items__list-column items__list-column--actions">
  <button class="item-edit">
    <i class="fa fa-edit">
      <span class="sr-only">Edit</span>
    </i>
  </button>
  <button class="item-delete">
    <i class="fa fa-trash">
      <span class="sr-only">Delete</span>
    </i>
  </button>
</div>