.chat-message {
  margin-bottom: .5em;

  @media (prefers-color-scheme: dark) {
    background: var(--bg-color);
    color: var(--body-color);
    backdrop-filter: blur(3px) contrast(1.25);

    .message-header {
      color: var(--body-color);
      margin-bottom: .5em;
    }
  }

  &.whisper {
    @media (prefers-color-scheme: dark) {
      background: var(--highlight-bg-color)
    }
  }

  &.blind {
    @media (prefers-color-scheme: dark) {
      background: rgba(var(--highlight-color-base), .45)
    }
  }
}

.message-content {
  @media (prefers-color-scheme: dark) {
    h1, h2, h3 {
      border-bottom: none;
      font-weight: 600;
      margin-bottom: .25em;
      line-height: 1;
    }
  }

  .dice-roll__attack {
    margin-bottom: .75em;
  }
}

.message-item {
  line-height: 1.4;

  &-stats {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: 1em;
    margin-bottom: .5em;
    
    &--armor,
    &--class {
      align-items: center;
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 3fr 4fr;
      margin: 0;

      i {
        text-align: center;
      }

      &__detail {
        &--term {
          margin: 0;
        }
        &--definition {
          margin: 0;
        }
      }
    }
  }

  &__progress {
    &-labels {
      display: flex;
      justify-content: space-between;
    }
    &-bar {
      width: 100%;
      height: 1.5em;
    }
  }
}