<div class="biography__appearance">
  <h2>Description</h2>

  <img
    class="biography__portrait"
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}" />

  {{editor data.description
    target="description"
    rollData=rollData
    button=true
    owner=owner
    editable=editable
  }}
</div>

<h2>Biography</h2>
{{editor data.bio
  target="bio"
  rollData=rollData
  button=true
  owner=owner
  editable=editable
}}