<form class="{{cssClass}}" autocomplete="off">
  {{> (partial "item/parts/item-header.hbs") }}

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    <div class="attributes">
      <section class="item-attributes">
        <div class="item-attributes__group">
          <h2>Attributes</h2>

          {{> (partial "item/parts/item-attribute.hbs")
            key="data.weight.value"
            value=data.weight.value
            label="Weight"
            type="number"
            compact=true
            dataType="Number"
          }}
        </div>

        {{> (partial "item/parts/item-value.hbs") }}
      </section>

      <section class="item-description">
        <h2>Description</h2>
        {{editor data.description
          target="description"
          rollData=rollData
          button=true
          owner=owner
          editable=editable
        }}
      </section>
    </div>
  </main>
</form>