<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"/>
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <section class="item-attributes">
          <div class="item-attributes__group">
            <h2>Attributes</h2>
            
            {{> (partial "item/parts/item-attribute.hbs")
              key="data.quantity.value"
              value=data.quantity.value
              label="Quantity"
              compact=true
              type="number"
              dataType="Number"
            }}

            {{> (partial "item/parts/item-attribute.hbs")
              key="data.weight.value"
              value=data.weight.value
              label="Weight"
              compact=true
              type="number"
              dataType="Number"
            }}
          </div>

          <div class="item-attributes__group">
            <h2>Value</h2>

            {{> (partial "item/parts/item-attribute.hbs")
              key="data.cost.pp"
              value=data.cost.pp
              label="pp"
              hoverLabel="Platinum Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}

            {{> (partial "item/parts/item-attribute.hbs")
              key="data.cost.gp"
              value=data.cost.gp
              label="gp"
              hoverLabel="Gold Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}

            {{> (partial "item/parts/item-attribute.hbs")
              key="data.cost.ep"
              value=data.cost.ep
              label="ep"
              hoverLabel="Electrum Pieces"
              type="number"
              dataType="Number"
              compact=true

            }}

            {{> (partial "item/parts/item-attribute.hbs")
              key="data.cost.sp"
              value=data.cost.sp
              label="sp"
              hoverLabel="Silver Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}

            {{> (partial "item/parts/item-attribute.hbs")
              key="data.cost.cp"
              value=data.cost.cp
              label="cp"
              hoverLabel="Copper Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}
          </div>
        </section>

        <section class="item-description">
          <h2>Description</h2>
          {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
        </section>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      {{> (partial "item/parts/item-effects.hbs") }}
    </div>
  </section>
</form>
