<form class="{{cssClass}}" autocomplete="off">
  {{> (partial "item/parts/item-header.hbs") }}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab sheet-tab sheet-tab--attributes" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <section class="item-attributes">
          {{> (partial "item/parts/item-value.hbs") }}
        </section>

        <section class="item-description">
          <h2>Description</h2>
          {{editor data.description
            target="description"
            rollData=rollData
            button=true
            owner=owner
            editable=editable
          }}
        </section>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab sheet-tab sheet-tab--effects" data-group="primary" data-tab="effects">
      {{> (partial "item/parts/item-effects.hbs") }}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab sheet-tab sheet-tab--configuration" data-group="primary" data-tab="configuration">
      {{> (partial "item/configuration/gear.hbs") }}
    </div>
  </main>
</form>
