<div class="item-attributes__group">
  <h2>Attributes</h2>

  {{> (partial "item/parts/item-attribute.hbs")
    key="system.weight.value"
    value=item.system.weight.value
    label="Weight"
    type="number"
    compact=true
    dataType="Number"
  }}

  {{> (partial "item/parts/item-attribute.hbs")
    key="system.stealthPenalty"
    value=item.system.stealthPenalty
    label="Stealth Penalty"
    type="number"
    compact=true
    dataType="Number"
  }}

  {{> (partial "item/parts/item-attribute.hbs")
    key="system.encumbrancePenalty"
    value=item.system.encumbrancePenalty
    label="Speed Penalty (%)"
    type="number"
    compact=true
    dataType="Number"
  }}

  <div class="item-attributes__item item-attributes__item--compact">
    <label for="swimPenalty">Swim Penalty</label>
    <input
      type="checkbox"
      name="system.swimPenalty"
      {{checked item.system.swimPenalty}} />
  </div>

  <div class="item-attributes__item item-attributes__item--compact">
    <label for="armorType">Type</label>
    <select
      data-dtype="String"
      name="system.armorType">
      {{#select item.system.armorType}}
        {{#each armorTypes as |type key|}}
          <option value="{{key}}">{{type}}</option>
        {{/each}}
      {{/select}}
    </select>
  </div>
</div>