<div class="item-attributes__group">
  <h2>Attributes</h2>

  {{> (partial "item/parts/item-attribute.hbs")
    key="data.weight.value"
    value=data.weight.value
    label="Weight"
    type="number"
    compact=true
    dataType="Number"
  }}
</div>

{{!-- <div class="item-attributes__group">
  <h2>Equipment</h2>

  <div class="item-attributes__item item-attributes__item--compact">
    <label for="data.equippable">Can be equipped</label>
    <input
      type="checkbox"
      name="data.equippable"
      {{checked data.equippable}} />
  </div>

  {{#if data.equippable}}
    <div class="item-attributes__item item-attributes__item--compact">
      <label for="data.equipped">Must be held</label>
      <input
        type="checkbox"
        name="data.equipped"
        {{checked data.equipped}} />
    </div>
  {{/if}}
</div>

<div class="item-attributes__group">
  <h2>Consumable</h2>

  <div class="item-attributes__item item-attributes__item--compact">
    <label for="data.equippable">Is consumable</label>
    <input
      type="checkbox"
      name="data.equippable"
      {{checked data.equippable}} />
  </div>
</div>

<div class="item-attributes__group">
  <h2>Illumination</h2>

  <div class="item-attributes__item item-attributes__item--compact">
    <label for="data.isLightSource">Is a light source</label>
    <input
      type="checkbox"
      name="data.isLightSource"
      {{checked data.isLightSource}} />
  </div>
</div> --}}