<div class="item-attributes__group">
  <h2>Attributes</h2>

  {{> (partial "item/parts/item-attribute.hbs")
    key="system.weight.value"
    value=item.system.weight.value
    label="Weight"
    type="number"
    compact=true
    dataType="Number"
  }}
</div>