<div class="item-attributes__group">
  <h2>Attributes</h2>

  {{> (partial "item/parts/item-attribute.hbs")
    key="data.weight.value"
    value=data.weight.value
    label="Weight"
    type="number"
    compact=true
    dataType="Number"
  }}
</div>

<div class="item-attributes__group">
  <h2>Weapon Type</h2>

  <div class="type-container">
    {{radioBoxes "data.weaponType" weaponTypes checked=data.weaponType localize=true}}
  </div>

  {{#if (equals data.weaponType "ammunition")}}
    {{> (partial "item/parts/item-attribute.hbs")
      key="data.ammunitionType"
      value=data.ammunitionType
      label="Ammunition type"
      type="string"
      dataType="String"
      compact=true
    }}
  {{/if}}

  {{#if (equals data.weaponType "ranged") }}
    {{> (partial "item/parts/item-attribute.hbs")
      key="data.ammunitionType"
      value=data.ammunitionType
      label="Ammunition type"
      type="string"
      dataType="String"
      compact=true
    }}
  {{/if}}