<div class="item-attributes__group">
  <h2>Attributes</h2>

  {{> (partial "item/parts/item-attribute.hbs")
    key="system.weight.value"
    value=item.system.weight.value
    label="Weight"
    type="number"
    compact=true
    dataType="Number"
  }}
</div>

<div class="item-attributes__group">
  <h2>Weapon Type</h2>

  <div class="type-container">
    {{radioBoxes "system.weaponType"
      weaponTypes
      checked=item.system.weaponType
      localize=true
    }}
  </div>

  {{#if (equals item.system.weaponType "ammunition")}}
    {{> (partial "item/parts/item-attribute.hbs")
      key="system.ammunitionType"
      value=item.system.ammunitionType
      label="Ammunition type"
      type="string"
      dataType="String"
      compact=true
    }}
  {{/if}}

  {{#if (equals item.system.weaponType "ranged") }}
    {{> (partial "item/parts/item-attribute.hbs")
      key="system.ammunitionType"
      value=item.system.ammunitionType
      label="Ammunition type"
      type="string"
      dataType="String"
      compact=true
    }}
  {{/if}}