/**
 * @todo Split out common sheet styles (sheet header/footer/etc)
 * @todo Typography variables (font size/line height/etc)
 */

.actor {
  .sheet-body {
    display: flex;

    .tab-group {
      flex: 6;
    }
  }

  .attributes {
    flex: 1;
    margin-right: 1rem;

    .attributes__item {
      text-align: center;
      margin-bottom: 1rem;

      label {
        font-family: var(--sheet-heading-font);
        font-size:  1.2rem;
      }
      input {
        border: none;
        border-bottom: 1px solid var(--sheet-body-color);
        background-color: transparent;
        font-size: 1.5rem;
        padding: .6em;
        max-width: 2.5em;
        align-self: center;
      }
    }
  }

  .sheet-tab--summary.active {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1em;
  }

  .saves-list {
    padding-left: 0;

    .saves-list__item {
      display: grid;
      grid-gap: 2rem;
      align-items: center;
      grid-template-columns: 6fr 1fr 1fr;
    }

    .saves-list__score,
    .saves-list__modifier {
      text-align: center;
    }
  }

  .quick-access__class-skills {
    grid-column: 1/4;
  }

  .skills-list {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
  }

  .skills-list__item {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
  }
  
  .items__carry-weight {
    display: flex;
    align-items: baseline;

    input {
      max-width: 4em;
      margin: 0 .5em;

      &:first-of-type {
        text-align: right;
      }
    }
  }

  .items__list {
    padding: 1em;
    margin: 0 0 1em;
    box-shadow: var(--elevation-1-shadow);

    .items__list-item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 1rem;
      align-items: center;
      margin-bottom: .5em;

      &.items__list-item--header {
        font-weight: 600;
      }
    }

    .items__list-column--actions {
      justify-self: end;
      display: flex;

      button {
        display: inline-block;
        width: auto;
        height: auto;
      }
    }

    &.items__list--weapons .items__list-item {
      grid-template-columns: 5fr 2fr 1fr 1fr;
    }
    
    &.items__list--armor .items__list-item {
      grid-template-columns: 6fr 1fr 1fr 1fr ;
    }
    
    &.items__list--gear .items__list-item {
      grid-template-columns: 8fr 1fr;
    }
    
    &.items__list--wealth .items__list-item {
      grid-template-columns: 7fr 1fr 1fr;
    }

    .items__list-column--equipped,
    .items__list-column--quantity {
      text-align: right;
    }
    
    .items__list-item--empty,
    .items__list-item .empty {
      text-decoration: line-through;
      color: #666;
      font-style: italic;
    }
  }

  .items__currency {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 1em;
    text-align: center;
  }

  .features {
    &.features--languages {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: .5rem;
      list-style-type: none;
      padding: 0;
    }
  }

  .features__title {
    display: flex;
    justify-content: space-between;

    button {
      width: auto;
      line-height: 1em;
      border: none;
      background: none;
    }
  }
  
  .features--class {
    padding:  0;

    .feature__item {
      margin-bottom: .5em;
      align-items: center;
      padding: .5rem;
      box-shadow: var(--elevation-1-shadow);
      list-style-type: none;
    }
  }
  
  .spell-slots {}

  .prepared-spells,
  .known-spells {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: .5em;
    padding: 0;
    margin: 0 0 1em 0;

    .spell {
      display: flex;
      align-items: center;
      justify-content: space-between;

      &:not(.spell--empty) {
        padding: .5rem;
        box-shadow: var(--elevation-1-shadow);
      }

      & > img {
        width: 32px;
        height: 32px;
        border: none;
      }
      
      & > span {
        margin-left: .5em;
        margin-right: auto;
      }
    }
  }

  .spell--empty {
    color: #666;
    font-style: italic;
  }
}
