.sheet--npc {
  header.sheet-header {
    .sheet-header__container {
      grid-template-columns: 4fr 3fr 3fr 1fr;
    }

    .ac {
      input {
        width: 1.5em;
      }
    }
  }

  .sheet-tab--summary {
    &.active {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .stat-region {
      align-items: start;

      h2 {
        margin: 0;
      }

      &--saves {
        grid-column: 1/5;

        .saves-list {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      &--defenses,
      &--configuration,
      &--quantities {
        display: grid;
        grid-gap: 1em;
      }

      &--defenses {
        grid-column: 1/3;
        grid-template-columns: 1fr;
        grid-gap: .5em;
      }

      &--configuration,
      &--quantities {
        grid-column: 1/5;
        grid-template-columns: 1fr 1fr 1fr;

        h2 {
          grid-column: 1/4;
        }
      }

      &--hp,
      &--xp {
        h2 {
          margin: 0;
        }

        display: grid;

        grid-template-columns: 1fr;
        grid-gap: .5em;
      }

      &--hp {
        grid-column: 1/3;
      }

      &--xp {
        grid-column: 3/5;

        h2 {
          display: flex;
          justify-content: space-between;
        }
  
        .configuration__field {
          &:not(.configuration__field--xp) {
            display: grid;
            grid-template-columns: 5fr 1fr;
            align-items: center;
          }
        }
      }

      &--move {
        grid-column: 3/5;
  
        .move-options {
          list-style: none;
          padding: 0;
          margin: .5em 0;

          display: grid;
          grid-template-columns: 1fr;
          grid-gap: .5em;
          align-items: center;
        }
  
        .move-option {
          @extends %card;

          display: flex;
          justify-content: space-between;
          grid-gap: .5em;
          align-items: center;
          margin-bottom: .5em;

          select,
          input {
            margin: 0;
            flex: 1;
            text-align: left;
          }

          button {
            margin: 0;
            padding: 0 .5em;
            min-width: 2em;
            text-align: center;
          }
        }
      }

    }
  }

  .sheet-tab--items {
    .attack-settings {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-gap: .5em;
      margin-bottom: .5em;
    }

    h4 {
      grid-column: 1/6;
    }
  }
}