.sheet--npc {
  header.sheet-header {
    .sheet-header__container {
      grid-template-columns: 4fr 3fr 3fr 1fr;
    }

    .ac {
      input {
        width: 1.5em;
      }
    }
  }

  .sheet-tab--summary {
    &.active {
      grid-template-columns: 1fr 1fr 1fr;
    }

    .stat-region--attacks {
      grid-column: 1/4;

      .attack-list {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .attack {
        display: grid;
        grid-template-columns: 2fr 2fr 1fr 1fr 1fr;
        grid-gap: .5em;
        align-items: center;
        margin-bottom: .5em;
      }

      .attack__damage {
        display: flex;
        align-items: center;
      }

      .attack__attack-mod {
        text-align: center;
      }
    }

    .stat-region--saves {
      grid-column: 1/3;
    }

    .stat-region--xp {
      h2 {
        display: flex;
        justify-content: space-between;
      }

      .configuration__field {
        margin-bottom: .5rem;

        &:not(.configuration__field--xp) {
          display: grid;
          grid-template-columns: 5fr 1fr;
          align-items: center;
        }
      }
    }
  }
}