.sheet--npc {
  header.sheet-header {
    .sheet-header__container {
      grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
      grid-gap: .5em;

      input, select {
        font-size: 1.35em;
        height: unset;
        max-width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-align: left;
        background-color: transparent;
      }

      input.min-hp[value="0"],
      input.min-hp[value="0"] + span,
      input.min-hp[value="0"] + span + input {
          color: var(--sheet-heading-color);
          border-color: var(--sheet-heading-color);
      }
    }

    .hp {
      label[title] {
        border: none;
      }
      input {
        text-align: center;

        &[readonly] {
          max-width: 2.5em;
        }
      }
    }
  
    .hp, .ac, .xp {
      justify-content: end;
    }

    .ac {
      input {
        width: 1.5em;
      }
    }
  }

  .sheet-tab--summary {
    &.active {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .quick-access {
      &__equipment {
        grid-column: 1/5;
      }
    }

    .stat-region {
      align-items: start;

      h2 {
        margin: 0;
      }

      &--saves {
        grid-column: 1/5;

        .saves-list {
          grid-template-columns: 1fr 1fr 1fr;
        }
      }

      &--defenses,
      &--quantities {
        display: grid;
        grid-gap: 1em;
      }

      &--defenses {
        grid-column: 1/3;
        grid-template-columns: 1fr;
        grid-gap: .5em;
      }

      &--quantities {
        grid-column: 1/5;
        grid-template-columns: 1fr 1fr 1fr;

        h2 {
          grid-column: 1/4;
        }
      }

      &--move {
        grid-column: 3/5;
  
        .move-options {
          list-style: none;
          padding: 0;
          margin: .5em 0;

          display: grid;
          grid-template-columns: 1fr;
          grid-gap: .5em;
          align-items: center;
        }
  
        .move-option {
          @extends %card;

          display: flex;
          justify-content: space-between;
          grid-gap: .5em;
          align-items: center;
          margin-bottom: .5em;

          select,
          input {
            margin: 0;
            flex: 1;
            text-align: left;
          }

          button {
            margin: 0;
            padding: 0 .5em;
            min-width: 2em;
            text-align: center;
          }
        }
      }

      &--variant {
        grid-column: 1/3;
      }

      &--variant + .stat-region--quantities {
        grid-column: 3/5;
        display: block;
        .configuration__field {
          margin-bottom: .5em;
        }
      }
    }
  }

  .sheet-tab--items {
    .attack-settings {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      align-items: center;
      grid-gap: .5em;
      margin-bottom: .5em;
    }

    h4 {
      grid-column: 1/6;
    }
  }

  .sheet-tab--configuration {
    &.active {
      display: grid;
      grid-template-columns: minmax(0, 1fr) 1fr 1fr;
      grid-gap: 1em;
    }

    .stat-region {
      align-items: start;
      max-width: 100%;
      
      h2,
      .configuration__field {
        margin: 0 0 .5em;
      }

      select,
      option {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        display: block;
        width: 100%;
      }

      &--hp {
        .configuration__field {
          &--can-autocalculate-hp {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }

      &--xp {
        /* grid-column: 3/5; */

        h2 {
          display: flex;
          justify-content: space-between;
        }

        .configuration__field {
          &:not(&--xp) {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }

  .items__list--npc-spells {
    .items__list {
      &-item {
        grid-template-columns: 1fr 8fr 1fr 1fr 1fr;

        &--header {
          .items__list-column {
            &--verbal {
              &:before { content: 'V'; }
            }
            &--somatic {
              &:before { content: 'S'; }
            }
            &--material {
              &:before { content: 'M'; }
            }
          }
        }
      }

      &-column {
        &--component-type {
          text-align: center;
        }

        &--verbal {}
        &--somatic {}
        &--material {}
      }
    }
  }
}

