<form class="{{cssClass}} sheet sheet--pc" autocomplete="off">
  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="vital">
      <div class="name">
        <input
          name="name"
          type="text"
          value="{{actor.name}}"
          placeholder="Name"/>
      </div>
    </div>

    <div class="attributes">
      {{> "systems/chromatic-dungeons/templates/actor/parts/actor-attribute.hbs"}}
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="summary">Summary</a>
    <a class="item" data-tab="items">Items</a>
    <a class="item" data-tab="spells">Spells</a>
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="features">Features</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  <main class="sheet-body">

    <div class="tab sheet-tab sheet-tab--attributes" data-group="primary" data-tab="attributes">
      
    </div>

    {{!-- Owned Features Tab --}}
    <div class="tab features" data-group="primary" data-tab="features">
      <section class="grid grid-3col">
        <aside class="sidebar">

          {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
          use both the "grid" and "grid-Ncol" class where "N" can be any number
          from 1 to 12 and will create that number of columns.  --}}
          <div class="abilities flexcol">
            {{#each data.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center">
              <label for="data.abilities.{{key}}.value" class="resource-label rollable flexlarge align-left" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{ability.label}}</label>
              <input type="text" name="data.abilities.{{key}}.value" value="{{ability.value}}" data-dtype="Number"/>
              <span class="ability-mod rollable" data-roll="d20+@abilities.{{key}}.mod" data-label="{{ability.label}}">{{numberFormat ability.mod decimals=0 sign=true}}</span>
            </div>
            {{/each}}
          </div>
        </aside>

        {{!-- For the main features list, span the right two columns --}}
        <section class="main grid-span-2">
          {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
          {{> "systems/chromatic-dungeons/templates/actor/parts/actor-features.hbs"}}
        </section>

      </section>
    </div>

    {{!-- Biography Tab --}}
    <div class="tab biography" data-group="primary" data-tab="description">
      {{> "systems/chromatic-dungeons/templates/actor/parts/actor-biography.hbs"}}
    </div>

    {{!-- Owned Items Tab --}}
    <div class="tab items" data-group="primary" data-tab="items">
       {{> "systems/chromatic-dungeons/templates/actor/parts/actor-items.hbs"}}
    </div>

    {{!-- Owned Spells Tab --}}
    <div class="tab spells" data-group="primary" data-tab="spells">
      {{> "systems/chromatic-dungeons/templates/actor/parts/actor-spells.hbs"}}
    </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/chromatic-dungeons/templates/actor/parts/actor-effects.hbs"}}
    </div>
  </main>

  <footer class="sheet-footer">
    <div class="hp">
      <label 
        for="data.hp.value"
        class="hp__label sr-only">
        {{localize "SHEET.hp"}}
      </label>
      <i class="fa fa-heart" aria-hidden="true"></i>
      <input
        type="number"
        name="data.hp.value"
        value="{{data.hp.value}}"
        max="{{data.hp.max}}"
        data-dtype="Number"/>
      <span>/</span>
      <input
        type="number"
        name="data.hp.max"
        min="{{data.hp.value}}"
        value="{{data.hp.max}}"
        data-dtype="Number" />
    </div>

    <div class="ac">
      <label 
        for="data.ac"
        class="hp__label">
        {{localize "SHEET.ac"}}
      </label>
      <i class="fa fa-shield" aria-hidden="true"></i>
      <input
        type="number"
        name="data.ac"
        value="10"
        readonly
        data-dtype="Number"/>
    </div>
  </footer>
</form>