.sheet--npc .sheet-header .vital {
  grid-template-columns: 5fr 2fr 1fr;
}

.sheet--npc .sheet-tab--summary.active {
  grid-template-columns: 1fr 1fr 1fr;
}

.sheet--npc .sheet-tab--summary .stat-region--attacks {
  grid-column: 1/4;
}
.sheet--npc .sheet-tab--summary .stat-region--saves {
  grid-column: 1/3;
}

.sheet--npc .attack-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sheet--npc .stat-region--attacks .attack {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 1fr 1fr 1fr;
  grid-gap: .5em;
  align-items: center;
  margin-bottom: .5em;
}

.sheet--npc .stat-region--attacks .attack .attack__damage {
  display: flex;
  align-items: center;
}
.sheet--npc .stat-region--attacks .attack .attack__attack-mod {
  text-align: center;
}

.sheet--npc .stat-region--xp h2 {
  display: flex;
  justify-content: space-between;
}
.sheet--npc .stat-region--xp .configuration__field {
  margin-bottom: .5rem;
}

.sheet--npc .stat-region--xp .configuration__field:not(.configuration__field--xp) {
  display: grid;
  grid-template-columns: 5fr 1fr;
  align-items: center;
}