/**
 * @todo Split out common sheet styles (sheet header/footer/etc)
 * @todo Typography variables (font size/line height/etc)
 */

.actor header.sheet-header {
  flex: 0 0 32px;
  flex-direction: column;
  margin: -8px -8px 1rem -8px;
  padding: .5rem;
  box-shadow: var(--elevation-1-shadow);
}

.actor .sheet-header .vital {
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 2fr 1fr 1fr;
  grid-gap: 2rem;
  align-items: center;
}

.actor .sheet-header .vital input,
.actor .sheet-header .vital select {
  font-family:  var(--sheet-heading-font);
  font-size: 1.5rem;
  border:  none;
  border-bottom: 1px solid var(--sheet-body-color);
  background-color:  transparent;
  text-align: center;
}
.actor .sheet-header .vital .name input {
  text-align: left;
}

.actor .vital > div {
  display: flex;
  align-items: center;
}

.actor .sheet-body {
  display: flex;
}

.actor .attributes {
  flex: 1;
  margin-right: 1rem;
}
.actor .attributes__item {
  text-align: center;
  margin-bottom: 1rem;
}
.actor .attributes__item label {
  font-family: var(--sheet-heading-font);
  font-size:  1.2rem;
}
.actor .attributes__item input {
  border: none;
  border-bottom: 1px solid var(--sheet-body-color);
  background-color: transparent;
  font-size: 1.5rem;
  padding: .6em;
  max-width: 2.5em;
  align-self: center;
}

.actor .sheet-tab--summary.active {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1em;
}

.actor .saves-list {
  padding-left: 0;
}
.actor .saves-list__item {
  display: grid;
  grid-gap: 2rem;
  align-items: center;
  grid-template-columns: 6fr 1fr 1fr;
}

.actor .skills-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em;
}
.actor .skills-list__item {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
}

.saves-list__score,
.saves-list__modifier {
  text-align: center;
}

.actor .effects-list__list-item {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.actor .effects-list__controls {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
} 


.actor .sheet-body .tab-group {
  flex: 6;
}

.actor .items__list {
  padding: 1em;
  margin: 0 0 1em;
  box-shadow: var(--elevation-1-shadow);
}
.actor .items__list-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  align-items: center;
  margin-bottom: .5em;
}
.actor .items__list-item--header {
  font-weight: 600;
}
.items__list-column--actions {
  justify-self: end;
  display: flex;
}
.items__list-column--actions button {
  display: inline-block;
  width: auto;
  height: auto;
}

.actor .items__list--weapons .items__list-item {
  grid-template-columns: 5fr 2fr 1fr 1fr;
}

.actor .items__list--armor .items__list-item {
  grid-template-columns: 6fr 1fr 1fr 1fr ;
}

.actor .items__list--gear .items__list-item {
  grid-template-columns: 8fr 1fr;
}

.actor .items__list--wealth .items__list-item {
  grid-template-columns: 7fr 1fr 1fr;
}

.items__list-column--equipped,
.items__list-column--quantity {
  text-align: right;
}

.items__list-item--empty,
.items__list-item .empty {
  text-decoration: line-through;
  color: #666;
  font-style: italic;
}

.items__list-item--empty span {
  color: #666;
  font-style: italic;
}

.actor .items__currency {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  text-align: center;
}


.actor .features__title {
  display: flex;
  justify-content: space-between;
}

.actor .features__title button {
  width: auto;
  line-height: 1em;
  border: none;
  background: none;
}

.actor .features--class {
  padding:  0;
}

.actor .features--class .feature__item {
  display:  grid;
  grid-template-columns: 1fr 7fr;
}
