{{#if editable}}
  <div class="item-attributes__group">
    <h2>Value</h2>
    {{> (partial "item/parts/item-attribute.hbs")
      key="system.cost.pp"
      value=item.system.cost.pp
      label="SHEET.Item.value.platinum"
      type="number"
      dataType="Number"
      compact=true
    }}

    {{> (partial "item/parts/item-attribute.hbs")
      key="system.cost.gp"
      value=item.system.cost.gp
      label="SHEET.Item.value.gold"
      type="number"
      dataType="Number"
      compact=true
    }}

    {{> (partial "item/parts/item-attribute.hbs")
      key="system.cost.ep"
      value=item.system.cost.ep
      label="SHEET.Item.value.silver"
      type="number"
      dataType="Number"
      compact=true

    }}

    {{> (partial "item/parts/item-attribute.hbs")
      key="system.cost.sp"
      value=item.system.cost.sp
      label="SHEET.Item.value.electrum"
      type="number"
      dataType="Number"
      compact=true
    }}

    {{> (partial "item/parts/item-attribute.hbs")
      key="system.cost.cp"
      value=item.system.cost.cp
      label="SHEET.Item.value.copper"
      type="number"
      dataType="Number"
      compact=true
    }}
  </div>

  {{#if hasXP}}
  <div class="item-attributes__group">
    <h2>XP</h2>
    {{> (partial "item/parts/item-attribute.hbs")
      key="system.xp"
      value=item.system.xp
      label="SHEET.Item.value.xp"
      type="number"
      dataType="Number"
      compact=true
    }}
  </div>
  {{/if}}
{{else}}
  {{> (partial "item/parts/item-value-view.hbs") }}
{{/if}}