.class {
  .sheet-header__container {
    grid-template-columns: 1fr 4fr 4fr;

    .header-xp {
      .item-attributes__item-range {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
      }

      input {
        font-size: 1rem;

        &:first-child {
          text-align: right;
          margin-right: .5em;
        }
        &:last-child {
          text-align: left;
          margin-left: .5em;
        }
      }
    }
  }

  .spellcasting-table {
    padding: 0;

    &__row {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-gap: .5em;
      margin-bottom: .5em;
      align-items: center;

      &--header {
        font-weight: bold;
      }
    }

    &--points &__row {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    &&__cell {
      text-align: center;

      &--level {
        text-align: right;
        font-weight: bold;
      }
    }
  }

  .feature {
    padding: 1em;
    margin: 1em 0;
    box-shadow: var(--elevation-1-shadow);

    header {
      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-gap: 1em;
      align-items: end;
      margin-bottom: .5em;

      .item-attributes__item {
        margin-bottom: 0;
      }
    }

    main {
      display: grid;
      min-height: 130px;
      align-items: start;
      grid-template-rows: 1.4em auto;
    }

    button {
      cursor: pointer;
    }

    &--has-resource {
      header {
        grid-template-columns: 1fr 7fr 1fr 1fr;
      }
    }

    &__resources {
      list-style: none;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2em;
    }

    &-resource {
      display: grid;
      grid-gap: .5em;
      grid-template-columns: 1fr 1fr 2em;
    }
  }

  .skills {
    &__row {
      display: grid;
      grid-template-columns: 3fr 2fr 1fr 1fr;
      grid-gap: .5em;
      margin-bottom: .5em;
      align-items: flex-start; 
    }
  }

  .item-attributes__group--requirements {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;

    h2 {
      grid-column: 1/4;
    }

    .requirement {
      text-align: center;

      label {
        margin-bottom: .25em;
      }
    }
  }
}