.item {
  header.sheet-header {
    flex: 0 0 32px;
    flex-direction: column;
    margin: -8px -8px 1rem -8px;
    padding: .5rem;
    box-shadow: var(--elevation-1-shadow);
  }

  .attributes {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-column-gap: 1em;
  }

  .profile-img {
    border: none;
    background-color: rgba(0, 0, 0, .05);
    box-shadow: inset var(--elevation-1-shadow);
  }

  &-attributes {
    

    &__group {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &--damage {
        .damage-container,
        .modifier-container {
          display: flex;
          align-items: space-between;

          & > div {
            margin-bottom: 1em;
            margin-right: 1em;

            &:last-of-type {
              margin-right: 0;
            }
          }
        }
      }
    }

    &__range {
      display: flex;
      align-items: center;
      justify-content: space-between;
    
      .item-attributes__separator {
        flex: 0;
        margin: 0 1em;
        display: inline-block;
      }
      
      .item-attributes__item--range input {
        flex: 3;
      }
    }

    &__item {
      border: none;
      padding: 0;
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      &--compact {
        display: flex;
        align-items: center;
        justify-content: space-between;

        label {
          flex: 2;
          margin-right: .5em;
        }

        input {
          flex: 1;
        }
      }

      &--grid {
        display: grid;
        align-items: center;
        grid-column-gap: .25em;
      }

      &--spell-levels {
        grid-template-columns: 3fr 1fr 1fr;

      }

      &--damage {

      }
    }
  }

  .item-value {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-column-gap: 1em;
    grid-row-gap: .5em;
    
    dt, dd {
      margin: 0;
      padding: 0;
    }
  }

  &-description {
    flex: 3;
    margin: 0;
  }
}
