<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"/>
      </h1>
    </div>
    <div class="header-xp">
      <div class="item-attributes__item">
        <label for="data.classGroup">XP</label>
        <div class="item-attributes__item-range">
          <input
            type="number"
            value="{{data.xp}}"
            data-dtype="Number"
            name="data.xp" />
          <span class="item-attributes__item-range-separator">/</span>
          <input
            type="number"
            value="{{xpToNextLevel}}"
            data-dtype="Number"
            name="xpToNextLevel"
            readonly />
        </div>
      </div>
    </div>
  </header>

  {{log this}}

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="features">Features</a>
    {{#if data.classGroup}}
      <a class="item" data-tab="saves">Saves</a>
    {{/if}}
    {{#if data.skills}}
      <a class="item" data-tab="skills">Skills</a>
    {{/if}}
    {{#if data.hasSpellcasting}}
      <a class="item" data-tab="spellcasting">Spellcasting</a>
    {{/if}}
    <a class="item" data-tab="effects">Effects</a>
    <a class="item" data-tab="configuration">
      <i class="fa fa-cog">
        <span class="sr-only">Configuration</span>
      </i>
    </a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      <h2>Description</h2>
      {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>

    {{!-- Configuration Tab --}}
    <div class="tab" data-group="primary" data-tab="configuration">
      <div class="attributes">
        <section class="item-attributes">
          <div class="item-attributes__group">
            <h2>Configuration</h2>

            <div class="item-attributes__item">
              <label for="data.classGroup">Class Group</label>
              <select
                data-dtype="String"
                name="data.classGroup">
                {{#select data.classGroup}}
                  <option value="warrior">{{localize "CLASSGROUP.warrior"}}</option>
                  <option value="rogue">{{localize "CLASSGROUP.rogue"}}</option>
                  <option value="arcane">{{localize "CLASSGROUP.arcane"}}</option>
                  <option value="divine">{{localize "CLASSGROUP.divine"}}</option>
                {{/select}}
              </select>
            </div>

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.statBonus"
              value=data.statBonus
              label="Stat Bonus"
              type="text"
              dataType="String"
              compact=true
            }}

            <div class="item-attributes__item item-attributes__item--compact">
              <label for="data.isPrimary">Character's primary class</label>
              <input
                type="checkbox"
                name="data.isPrimary"
                {{checked data.isPrimary}} />
            </div>

            <div class="item-attributes__item item-attributes__item--compact">
              <label for="data.isSelectedSaveTable">Use this class's save table</label>
              <input
                type="checkbox"
                name="data.isSelectedSaveTable"
                {{checked data.isSelectedSaveTable}} />
            </div>
          </div>

          <div class="item-attributes__group">
            <h2>Spellcasting</h2>

            <div class="item-attributes__item item-attributes__item--compact">
              <label for="data.hasSpellcasting">Has Spellcasting</label>
              <input
                type="checkbox"
                name="data.hasSpellcasting"
                {{checked data.hasSpellcasting}} />
            </div>

            {{#if data.hasSpellcasting}}
              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.hasSpellPoints">Uses Spell Points</label>
                <input
                  type="checkbox"
                  name="data.hasSpellPoints"
                  {{checked data.hasSpellPoints}} />
              </div>

              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.hasFullSpellList">Already knows its full spell list</label>
                <input
                  type="checkbox"
                  name="data.hasFullSpellList"
                  {{checked data.hasFullSpellList}} />
              </div>

              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.hasWisdomBonusSlots">Gets bonus slots from Wisdom</label>
                <input
                  type="checkbox"
                  name="data.hasWisdomBonusSlots"
                  {{checked data.hasWisdomBonusSlots}} />
              </div>
            {{/if}}
          </div>

          <div class="item-attributes__group">
            <h2>Proficiencies</h2>
            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.weaponProf"
              value=data.weaponProf
              label="Weapons"
              type="text"
              dataType="String"
              compact=true
            }}

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.armorProf"
              value=data.armorProf
              label="Armor"
              type="text"
              dataType="String"
              compact=true
            }}
          </div>

          <div class="item-attributes__group">
            <h2>Requirements</h2>

            {{#each data.requirements as |requirement key|}}
              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key=(concat "data.requirements." key)
                value=requirement
                label=key
                hoverLabel=key
                type="number"
                dataType="Number"
                compact=true
              }}
            {{/each}}
          </div>
        </section>
        <section class="item-attributes">
          <button type="button" class="class__delete">Delete this character class</button>
        </section>
      </div>
    </div>

    {{!-- Features Tab --}}
    <div class="tab" data-group="primary" data-tab="features">
      <div class="features__header">
        <h2>Class Features</h2>
        <button type="button" class="feature__add">
          <i class="fa fa-plus">
            <span class="sr-only">Add Feature</span>
          </i>
        </button>
      </div>

      <div class="features__list">
        {{#each data.features as |feature key|}}
          <div
            class="feature"
            data-item-id="{{key}}">
            <header>
              <h3>{{feature.title}}</h3>
            </header>
            <main>
              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key=(concat "data.features." key ".level")
                value=feature.level
                label="Level"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key=(concat "data.features." key ".title")
                value=feature.title
                label="Title"
                type="text"
                dataType="String"
                compact=true
              }}

              <label for="data.features.{{key}}.content">Feature Content</label>
              <textarea name="data.features.{{key}}.content">{{feature.content}}</textarea>
            </main>
            <footer>
              <button type="button" class="feature__delete">Delete</button>
            </footer>
          </div>
        {{/each}}
      </div>
    </div>

    {{!-- Saves Tab --}}
    <div class="tab" data-group="primary" data-tab="saves">
      <table>
        <thead>
          <tr>
            <td>Level</td>
            <td>Reflex</td>
            <td>Poison/Disease</td>
            <td>Creature Ability</td>
            <td>Spell/Magic Item</td>
          </tr>
        </thead>
        <tbody>
          {{#each classGroupAll.levels as |level key|}}
            {{#if (equals key ../level) }}
              <tr class="current-level">
            {{else}}
              <tr>
            {{/if}}
              <td>{{key}}</td>
              <td>{{level.saves.reflex}}</td>
              <td>{{level.saves.poison}}</td>
              <td>{{level.saves.creature}}</td>
              <td>{{level.saves.spell}}</td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    {{!-- Spellcasting Tab --}}
    <div class="tab" data-group="primary" data-tab="spellcasting">
      {{#if data.hasSpellPoints}}

      {{else}}
      <ul class="spellcasting-table">
        <li class="spellcasting-table__row spellcasting-table__row--header">
          <div class="spellcasting-table__cell spellcasting-table__cell--level">Level</div>
          {{#each data.spellSlots.[1] as |slots key|}}
            <div class="spellcasting-table__cell">{{key}}</div>
          {{/each}}
        </li>
        
        {{#each data.spellSlots as |level levelKey|}}
          {{#if (equals levelKey (concat ../level '')) }}
            <li class="spellcasting-table__row current-level">
          {{else}}
            <li class="spellcasting-table__row">
          {{/if}}
            <div class="spellcasting-table__cell spellcasting-table__cell--level">{{levelKey}}</div>
            {{#each level as |slotLevel slotLevelKey|}}
              <div class="spellcasting-table__cell">
                <input
                  type="number"
                  data-dtype="Number"
                  name="data.spellSlots.{{levelKey}}.{{slotLevelKey}}"
                  value="{{slotLevel}}" />
              </div>
            {{/each}}
          </li>
        {{/each}}
      </ul>

      {{/if}}
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      TODO: Active Effects
    </div>
  </section>
</form>
