<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"/>
      </h1>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <main class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab" data-group="primary" data-tab="attributes">
      <div class="attributes">
        <section class="item-attributes">
          <div class="item-attributes__group">
            <h2>Attributes</h2>

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.weight.value"
              value=data.weight.value
              label="Weight"
              type="number"
              dataType="Number"
            }}
          </div>

          <div class="item-attributes__group">
            <h2>Value</h2>

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.cost.pp"
              value=data.cost.pp
              label="pp"
              hoverLabel="Platinum Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.cost.gp"
              value=data.cost.gp
              label="gp"
              hoverLabel="Gold Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.cost.ep"
              value=data.cost.ep
              label="ep"
              hoverLabel="Electrum Pieces"
              type="number"
              dataType="Number"
              compact=true

            }}

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.cost.sp"
              value=data.cost.sp
              label="sp"
              hoverLabel="Silver Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}

            {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
              key="data.cost.cp"
              value=data.cost.cp
              label="cp"
              hoverLabel="Copper Pieces"
              type="number"
              dataType="Number"
              compact=true
            }}
          </div>
        </section>

        <section class="item-description">
          <div class="item-attributes__group item-attributes__group--damage">

            <h2>Damage</h2>

            <div class="damage-container">
              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key="data.damage"
                value=data.damage
                label="Damage"
                type="text"
                dataType="String"
                compact=true
              }}

              <div class="item-attributes__item item-attributes__item--compact">
                <label for="data.damageType">Type</label>
                <select
                  data-dtype="String"
                  name="data.damageType">
                  {{#select data.damageType}}
                  <option value="Slashing">Slashing</option>
                  <option value="Piercing">Piercing</option>
                  <option value="Bludgeoning">Bludgeoning</option>
                  {{/select}}
                </select>
              </div>
            </div>

            <h2>Modifiers</h2>

            <div class="modifier-container">
              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key="data.modDamage"
                value=data.modDamage
                label="Damage"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key="data.modToHit"
                value=data.modToHit
                label="To Hit"
                type="number"
                dataType="Number"
                compact=true
              }}

              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key="data.speedFactor"
                value=data.speedFactor
                label="Speed Factor"
                type="number"
                dataType="Number"
                compact=true
              }}
            </div>
          </div>

          <div class="item-attributes__group">
            <h2>Weapon Type</h2>

            <div class="type-container">
              {{radioBoxes "data.weaponType" weaponTypes checked=data.weaponType localize=true}}
            </div>

            {{#unless (equals data.weaponType "ranged")}}
              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key="data.reach"
                value=data.reach
                label="Reach (ft)"
                type="number"
                dataType="Number"
              }}
            {{/unless}}

            {{#unless (equals data.weaponType "melee")}}
              {{> "systems/chromatic-dungeons/templates/item/parts/item-attribute.hbs"
                key="data.range"
                value=data.range
                label="Range (ft)"
                type="number"
                dataType="Number"
              }}
            {{/unless}}
          </div>

          <h2>Description</h2>
          {{editor content=data.description target="data.description" rollData=rollData button=true owner=owner editable=editable}}
        </section>
      </div>
    </div>

    {{!-- Effects Tab --}}
    <div class="tab" data-group="primary" data-tab="effects">
      TODO: Active Effects
    </div>
  </section>
</form>
